<!DOCTYPE html> 
<html>
<head> 
	<title></title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
	<!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache">-->
	<!--<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">-->
	<!--<META HTTP-EQUIV="Expires" CONTENT="0">-->
	<meta charset="UTF-8"/>
	<script>
    if(navigator.platform.indexOf('Win32')!=-1){ 
   //pc
        //window.location.href='#tip';
     }else{ 
   //手机
        //window.location.href="mobile.html";
    }
	</script>
	<!--<link rel="stylesheet" href="./view/mobile/css/init.css" />-->
	<link rel="stylesheet" href="./view/mobile/css/jquery.mobile.min.css" />
	<link rel="stylesheet" href="./view/mobile/css/theme/theme.min.css" />
	<link rel="stylesheet" href="./view/mobile/css/styles.css" />
	<!-- <link rel="stylesheet" href="css/styles-custom.css" /> -->	
	<script src="./view/mobile/js/jquery.min.js"></script>
	<script src="./view/mobile/js/mobileinit.js"></script>
	<script src="./view/mobile/js/jquery.mobile.min.js"></script>
	<script src="./view/mobile/js/fastclick.js"></script>
</head> 
<body>
	<div data-role="page" id="fpmxListPage" data-iscroll="enable">
		<link rel="stylesheet" href="./view/mobile/css/pull.css" />
		<script type="text/javascript" charset="utf-8" src="./view/mobile/js/iscroll.js"></script>
		<script type="text/javascript" charset="utf-8" src="./view/mobile/js/initScroll.js"></script>
<div data-role="header" data-id="myHeader" data-position="fixed"  data-tap-toggle="false">
	<h2>首页</h2>
	<a data-icon="back" data-rel="back" data-iconpos="notext" data-direction="reverse"></a>
	<a href="./index.php" data-icon="home" data-iconpos="notext" class="ui-btn-right"></a>
</div>
<!-- content-->
<div data-role="content" >
	<div id="wrapperIndex" class="wrapper" >
		<div id="scrollerIndex" class="scroller">
			<div id="pullDown" >
				<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
			</div>
			<!--<div style="margin: 10px 0px; padding:5px;">-->
				<!--<b>2013/5/17<span style="margin:0 10px;">~</span>2013/5/17</b>-->
				<!--<div class="navbar" style="height: 1px; margin-top: 5px"></div>-->
			<!--</div>-->
			<ul data-role="listview" data-theme="a" class="list-fpmx">
				<?php foreach($sort as $key=>$cat){
                if($cat['lev']<3){
				if($cat['lev'] == 1){ ?>
					<li data-role="list-divider"><a href="info.php?cat_id=<?php echo $cat['cat_id']; ?>"  target="_top"><?php echo $cat['cat_name']; ?></a></li>
				<?php }elseif($cat['lev'] > 1){ ?>
					<li><a href="info.php?cat_id=<?php echo $cat['cat_id']; ?>" target="_top"><?php echo $cat['cat_name']; ?></a></li>
				<?php }}} ?>
			</ul>
			<div id="pullUp">
			</div>

		</div>
	</div>
</div>
		<div data-role="footer" data-position="fixed" data-id="footernav">
			<div data-role="navbar">
				<ul>
					<li><a href="./index.php" target="_top" >首页</a></li>
					<li><a href="./info.php?keywords=new" target="_top">最新</a></li>
					<li><a href="./info.php?keywords=hot" target="_top">热门</a></li>
					<li><a href="./info.php?keywords=best" target="_top">推荐</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
