<!DOCTYPE html> 
<html>
<head> 
	<title></title>
	<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8"/>
	<script>
    if(navigator.platform.indexOf('Win32')!=-1){ 
   //pc
        //window.location.href="error.html";
     }else{ 
   //手机
        //window.location.href="mobile.html";
    }
	</script>
	<!--<link rel="stylesheet" href="./view/mobile/css/init.css" />-->
	<link rel="stylesheet" href="./view/mobile/css/jquery.mobile.min.css" />
	<link rel="stylesheet" href="./view/mobile/css/theme/theme.min.css" />
	<link rel="stylesheet" href="./view/mobile/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="./view/mobile/css/Font-Awesome-3.2.1/css/font-awesome.min.css" />
	<!--[if IE 7]>
	<link rel="stylesheet" href="./view/mobile/css/Font-Awesome-3.2.1/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!-- <link rel="stylesheet" href="./view/mobile/css/styles-custom.css" /> -->	
	<script src="./view/mobile/js/jquery.min.js"></script>
	<script src="./view/mobile/js/mobileinit.js"></script>
	<script src="./view/mobile/js/jquery.mobile.min.js"></script>
	<script src="./view/mobile/js/fastclick.js"></script> 
	<?php if(isset($img_css)){echo $img_css;} ?>
</head> 
<body>
<div data-role="page">
	<div data-role="panel" id="myPanelFixed" data-position="right" data-position-fixed="true"  data-display="overlay">
		<a href="#fpmxListPage" data-rel="close" data-icon="backblackL" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inner"></a>
		<ul data-role="listview" data-theme="a" class="list-fpmx">
			<?php foreach($sort as $key=>$cat){
			if($cat['lev']<3){
			if($cat['lev'] == 1){ ?>
			<li data-role="list-divider"><a href="info.php?cat_id=<?php echo $cat['cat_id']; ?>"><?php echo $cat['cat_name']; ?></a></li>
			<?php }elseif($cat['lev'] > 1){ ?>
			<li><a href="info.php?cat_id=<?php echo $cat['cat_id']; ?>" target="_top"><?php echo $cat['cat_name']; ?></a></li>
			<?php }}} ?>
		</ul>
	</div>
    <div data-role="header" data-id="myHeader" data-position="fixed"  data-tap-toggle="false">
		<h1><?php echo $info['name']; ?></h1>
		<a data-icon="back" data-rel="back" data-iconpos="notext" data-direction="reverse"></a>
		<a href="#myPanelFixed" data-icon="bars" data-iconpos="notext" class="ui-btn-right"></a>
    </div>
	<h3>&nbsp;标题：<?php echo $info['name']; ?></h3>
	&nbsp;点击量：</span><span><?php echo $info['access_amount']; ?></span><br/>&nbsp;发布时间：</span><span><?php echo date("Y-m-d H:i:s", $info['add_time']); ?></span>
	<hr/>
	  <div data-role="content">
		<?php echo($info['details']); ?>
	  </div>
	<div data-role="footer" data-position="fixed" data-id="footernav">
		<div data-role="navbar">
			<ul>
				<li><a href="./index.php" target="_top">首页</a></li>
				<li><a href="./info.php?keywords=new" target="_top">最新</a></li>
				<li><a href="./info.php?keywords=hot" target="_top">热门</a></li>
				<li><a href="./info.php?keywords=best" target="_top">推荐</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>

        